{{< views/layout/defaultLayout}}
{{$body}}
<b>Cached content</b><p>
{{#cacheKey}}
    Cache key is: {{cacheKey}}
{{/cacheKey}}
{{^cacheKey}}
	No cache key set.
{{/cacheKey}}
{{/body}}
{{/ views/layout/defaultLayout}}
